//header 
.sqz-header {
    width: 100%;
    @include sqz-header_height; 
    z-index: 999;
    position: fixed;
    left: 50%; 
    top: 0;
    width: 100%;
    padding: 0;
    background: $plainColor;
    .sqz-sticky & {
        background: rgba($plainColor, 0.8);
        box-shadow: 0 0 5px rgba($darkColor, 0.2);
        height: 60px;
    }
    transform: translateX(-50%);
    @include sqz-transition(0.5s);
    
    .admin-bar & {
        top: 32px;
        // @include tablet-max {
        //     top: 46px;   
        // }

    }
    .container, .container-fluid, .row {
        height: 100%;
    }
    .admin-bar.sqz-sticky & {
        @include smallphone {
            top: 0;   
        }
    }
    @include tablet {
        padding: 20px 0;
        height: 90px;
    }
    z-index: 99;
    .sqz-logo {
        @include sqz-transition(0.5s);
        width: 300px;
        .sqz-sticky & {
            width: 200px;
        }
        overflow: hidden;
        * {
            @include sqz-transition(0.5s);
            border-bottom: none;
        }
        @include desktop {
            margin-left: 0;
            width: 340px;
        }
        @media (max-width:1111px) {
            max-width: 100%;
            margin-top: 6px;
        }
        @include phone {
            margin-top: 6px;
        }
        @media(max-width: 640px){
            width: 230px;
            margin-top: 14px;
        }
        @include small-phone {
            width: 200px;
        }
        h1, h2 {
            font-size: 0;
            margin: 0;
            line-height: 0;
        }

        a {
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                position: relative;

            }
        }

    }

}

