@font-face {
    font-family: 'HurmeGeometricSans-Bold';
    src: url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Bold.eot');
    src: url('../webfonts/HurmeGeometricSans-Bold/HurmeGeometricSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/HurmeGeometricSans-Bold/HurmeGeometricSans-Bold.woff') format('woff'),
         url('../webfonts/HurmeGeometricSans-Bold/HurmeGeometricSans-Bold.ttf') format('truetype'),
         url('../webfonts/HurmeGeometricSans-Bold/HurmeGeometricSans-Bold.svg#HurmeGeometricSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HurmeGeometricSans-Light';
    src: url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Light.eot');
    src: url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Light.woff') format('woff'),
         url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Light.ttf') format('truetype'),
         url('../webfonts/HurmeGeometricSans-Light/HurmeGeometricSans-Light.svg#HurmeGeometricSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HurmeGeometricSans-SemiBold';
    src: url('../webfonts/HurmeGeometricSans-SemiBold/HurmeGeometricSans-SemiBold.eot');
    src: url('../webfonts/HurmeGeometricSans-SemiBold/HurmeGeometricSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/HurmeGeometricSans-SemiBold/HurmeGeometricSans-SemiBold.woff') format('woff'),
         url('../webfonts/HurmeGeometricSans-SemiBold/HurmeGeometricSans-SemiBold.ttf') format('truetype'),
         url('../webfonts/HurmeGeometricSans-SemiBold/HurmeGeometricSans-SemiBold.svg#HurmeGeometricSans-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'HurmeGeometricSans2-Regular';
  src: url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.eot');
  src: url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.woff2') format('woff2'),
       url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.woff') format('woff'),
       url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.ttf') format('truetype'),
       url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.svg#HurmeGeometricSans2-Regular') format('svg'),
       url('../webfonts/HurmeGeometricSans2-Regular/HurmeGeometricSans2-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'MuseoSans-100';
    src: url('../webfonts/MuseoSans-100/MuseoSans-100.eot');
    src: url('../webfonts/MuseoSans-100/MuseoSans-100.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/MuseoSans-100/MuseoSans-100.woff') format('woff'),
         url('../webfonts/MuseoSans-100/MuseoSans-100.ttf') format('truetype'),
         url('../webfonts/MuseoSans-100/MuseoSans-100.svg#MuseoSans-100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans-300';
    src: url('../webfonts/MuseoSans-300/MuseoSans-300.eot');
    src: url('../webfonts/MuseoSans-300/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/MuseoSans-300/MuseoSans-300.woff') format('woff'),
         url('../webfonts/MuseoSans-300/MuseoSans-300.ttf') format('truetype'),
         url('../webfonts/MuseoSans-300/MuseoSans-300.svg#MuseoSans-300') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans-700';
    src: url('../webfonts/MuseoSans-700/MuseoSans-700.eot');
    src: url('../webfonts/MuseoSans-700/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/MuseoSans-700/MuseoSans-700.woff') format('woff'),
         url('../webfonts/MuseoSans-700/MuseoSans-700.ttf') format('truetype'),
         url('../webfonts/MuseoSans-700/MuseoSans-700.svg#MuseoSans-700') format('svg');
    font-weight: normal;
    font-style: normal;
}