#sqz-main_slider {
    .sqz-slide {
        float: left;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
   
       
       background-position: center center;
       background-size: cover;
       background-repeat: no-repeat;
  
    }
}

#sqz-banner {
    .sqz-slider_caption_wrap {
        padding: 0 100px;
        position: absolute;
        left: 0;
        top:0;
        right:0;
        bottom: 0;
        color: $plainColor;
        z-index: 9;
        .container-fluid, container, .row {
            height: 100%;
        }
        @include tablet {

            padding: 40px;

       
        }
        .sqz-slider_caption {
            font-family: $headingFont;
            font-size: 22px; 
            letter-spacing: 4px;
            text-transform: uppercase;
                color: $plainColor;
            h1 {
                color: $plainColor;
                font-size: 90px;
                line-height: 1;
                letter-spacing: 12px;
                @include desktop {
                    font-size: 50px;
                }
                @include tablet {
                    font-size: 36px;
                }
            }
            }
            .sqz-btn {
                margin: 50px 0 0;
                display: inline-block;
                &.sqz-btn_primary {
                    margin-right: 30px;
                }
                @include tablet {
                    margin: 30px auto 0;
                    &.sqz-btn_primary {
                        margin-right: 15px;
                    }
                }
            }
        }
}

.owl-buttons {
    div {
        @extend .sqz-vertical_center;
        width: 24px;
        height: 24px;
        @include sqz-transition;
        &.owl-prev {
            left: 50px;
            border-left: 1px solid $plainColor;
            border-bottom: 1px solid $plainColor;
            transform: rotate(45deg);
            &:hover{
                border-color: $defaultColor;
            }
        }
        &.owl-next {
            right: 50px;
            border-right: 1px solid $plainColor;
            border-top: 1px solid $plainColor;
            transform: rotate(45deg);
            &:hover{
                border-color: $defaultColor;
            }
        }
    }
    @include tablet {
        display: none;
        visibility: hidden;
    }
}
.owl-pagination{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 9;
    bottom: 50px;
    #sqz-main_slider & {
        bottom: 60px;
        @include tablet {
            bottom: 30px;   
        }
    }
    @include tablet {
        bottom: 20px;   
    }
    #sqz-project_slider & {
        visibility: hidden;
        bottom: 10px;
        @include phone {
            visibility: visible;
        }
    }
    .owl-page {
        display: inline-block;
        margin: 0 7px;
        font-size: 1.25em;
        width: 15px;
        height: 15px;
        position: relative;
        @include sqz-transition;
        border:solid 1px $secondaryColor;
        background: none;
        border-radius: 50%;
        #sqz-main_slider &, #sqz-project_slider & {
            border-color: $plainColor;
        }
        &:hover, &.active {
            background: $secondaryColor;
            #sqz-main_slider &, #sqz-project_slider & {
                background: $plainColor;
            }
        }
    }
    #sqz-post_block & {
        bottom: -10px;
    }

}

#sqz-secondary_slider {
    .owl-pagination {
        bottom: -30px;
    }
}