
.sqzi-facebook:before { content: '\e800'; } /* '' */
.sqzi-google-plus:before { content: '\e801'; } /* '' */
.sqzi-instagram:before { content: '\e802'; } /* '' */
.sqzi-linkedin:before { content: '\e803'; } /* '' */
.sqzi-pinterest:before { content: '\e804'; } /* '' */
.sqzi-twitter:before { content: '\e805'; } /* '' */
.sqzi-youtube:before { content: '\e806'; } /* '' */